<div class="walkthrough-nav">
<h3>Locations</h3>
<h4>Routes</h4>
<ul>
<li><a href="{{ site.baseurl }}/walkthrough/route-1/" {% if page.url == "/walkthrough/route-1/" %}class="active"{% endif %}>Route 1</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-2/" {% if page.url == "/walkthrough/route-2/" %}class="active"{% endif %}>Route 2</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-3/" {% if page.url == "/walkthrough/route-3/" %}class="active"{% endif %}>Route 3</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-4/" {% if page.url == "/walkthrough/route-4/" %}class="active"{% endif %}>Route 4</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-5/" {% if page.url == "/walkthrough/route-5/" %}class="active"{% endif %}>Route 5</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-6/" {% if page.url == "/walkthrough/route-6/" %}class="active"{% endif %}>Route 6</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-7/" {% if page.url == "/walkthrough/route-7/" %}class="active"{% endif %}>Route 7</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-8/" {% if page.url == "/walkthrough/route-8/" %}class="active"{% endif %}>Route 8</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-9/" {% if page.url == "/walkthrough/route-9/" %}class="active"{% endif %}>Route 9</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-10/" {% if page.url == "/walkthrough/route-10/" %}class="active"{% endif %}>Route 10</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-11/" {% if page.url == "/walkthrough/route-11/" %}class="active"{% endif %}>Route 11</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-12/" {% if page.url == "/walkthrough/route-12/" %}class="active"{% endif %}>Route 12</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-13/" {% if page.url == "/walkthrough/route-13/" %}class="active"{% endif %}>Route 13</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-14/" {% if page.url == "/walkthrough/route-14/" %}class="active"{% endif %}>Route 14</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-15/" {% if page.url == "/walkthrough/route-15/" %}class="active"{% endif %}>Route 15</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-16/" {% if page.url == "/walkthrough/route-16/" %}class="active"{% endif %}>Route 16</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-17/" {% if page.url == "/walkthrough/route-17/" %}class="active"{% endif %}>Route 17</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-18/" {% if page.url == "/walkthrough/route-18/" %}class="active"{% endif %}>Route 18</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-19/" {% if page.url == "/walkthrough/route-19/" %}class="active"{% endif %}>Route 19</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-20/" {% if page.url == "/walkthrough/route-20/" %}class="active"{% endif %}>Route 20</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-21/" {% if page.url == "/walkthrough/route-21/" %}class="active"{% endif %}>Route 21</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-22/" {% if page.url == "/walkthrough/route-22/" %}class="active"{% endif %}>Route 22</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-23/" {% if page.url == "/walkthrough/route-23/" %}class="active"{% endif %}>Route 23</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-24/" {% if page.url == "/walkthrough/route-24/" %}class="active"{% endif %}>Route 24</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/route-25/" {% if page.url == "/walkthrough/route-25/" %}class="active"{% endif %}>Route 25</a></li>
</ul>
<h4>Cities</h4>
<ul>
<li><a href="{{ site.baseurl }}/walkthrough/pallet-town/" {% if page.url == "/walkthrough/pallet-town/" %}class="active"{% endif %}>Pallet Town</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/viridian-city/" {% if page.url == "/walkthrough/viridian-city/" %}class="active"{% endif %}>Viridian City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pewter-city/" {% if page.url == "/walkthrough/pewter-city/" %}class="active"{% endif %}>Pewter City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/cerulean-city/" {% if page.url == "/walkthrough/cerulean-city/" %}class="active"{% endif %}>Cerulean City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/vermilion-city/" {% if page.url == "/walkthrough/vermilion-city/" %}class="active"{% endif %}>Vermilion City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/lavender-town/" {% if page.url == "/walkthrough/lavender-town/" %}class="active"{% endif %}>Lavender Town</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/celadon-city/" {% if page.url == "/walkthrough/celadon-city/" %}class="active"{% endif %}>Celadon City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/fuchsia-city/" {% if page.url == "/walkthrough/fuchsia-city/" %}class="active"{% endif %}>Fuchsia City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/saffron-city/" {% if page.url == "/walkthrough/saffron-city/" %}class="active"{% endif %}>Saffron City</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/cinnabar-island/" {% if page.url == "/walkthrough/cinnabar-island/" %}class="active"{% endif %}>Cinnabar Island</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/indigo-plateau/" {% if page.url == "/walkthrough/indigo-plateau/" %}class="active"{% endif %}>Indigo Plateau</a></li>
</ul>
<h4>Dungeons</h4>
<ul>
<li><a href="{{ site.baseurl }}/walkthrough/viridian-forest/" {% if page.url == "/walkthrough/viridian-forest/" %}class="active"{% endif %}>Viridian Forest</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/mt-moon-1f/" {% if page.url == "/walkthrough/mt-moon-1f/" %}class="active"{% endif %}>Mt. Moon 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/mt-moon-b1f/" {% if page.url == "/walkthrough/mt-moon-b1f/" %}class="active"{% endif %}>Mt. Moon B1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/mt-moon-b2f/" {% if page.url == "/walkthrough/mt-moon-b2f/" %}class="active"{% endif %}>Mt. Moon B2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/digletts-cave/" {% if page.url == "/walkthrough/digletts-cave/" %}class="active"{% endif %}>Diglett's Cave</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/rock-tunnel-1f/" {% if page.url == "/walkthrough/rock-tunnel-1f/" %}class="active"{% endif %}>Rock Tunnel 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/rock-tunnel-b1f/" {% if page.url == "/walkthrough/rock-tunnel-b1f/" %}class="active"{% endif %}>Rock Tunnel B1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-1f/" {% if page.url == "/walkthrough/pokémon-tower-1f/" %}class="active"{% endif %}>Pokémon Tower 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-2f/" {% if page.url == "/walkthrough/pokémon-tower-2f/" %}class="active"{% endif %}>Pokémon Tower 2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-3f/" {% if page.url == "/walkthrough/pokémon-tower-3f/" %}class="active"{% endif %}>Pokémon Tower 3F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-4f/" {% if page.url == "/walkthrough/pokémon-tower-4f/" %}class="active"{% endif %}>Pokémon Tower 4F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-5f/" {% if page.url == "/walkthrough/pokémon-tower-5f/" %}class="active"{% endif %}>Pokémon Tower 5F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-6f/" {% if page.url == "/walkthrough/pokémon-tower-6f/" %}class="active"{% endif %}>Pokémon Tower 6F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-tower-7f/" {% if page.url == "/walkthrough/pokémon-tower-7f/" %}class="active"{% endif %}>Pokémon Tower 7F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/safari-zone-center/" {% if page.url == "/walkthrough/safari-zone-center/" %}class="active"{% endif %}>Safari Zone Center</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/safari-zone-east/" {% if page.url == "/walkthrough/safari-zone-east/" %}class="active"{% endif %}>Safari Zone East</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/safari-zone-north/" {% if page.url == "/walkthrough/safari-zone-north/" %}class="active"{% endif %}>Safari Zone North</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/safari-zone-west/" {% if page.url == "/walkthrough/safari-zone-west/" %}class="active"{% endif %}>Safari Zone West</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-mansion-1f/" {% if page.url == "/walkthrough/pokémon-mansion-1f/" %}class="active"{% endif %}>Pokémon Mansion 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-mansion-2f/" {% if page.url == "/walkthrough/pokémon-mansion-2f/" %}class="active"{% endif %}>Pokémon Mansion 2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-mansion-3f/" {% if page.url == "/walkthrough/pokémon-mansion-3f/" %}class="active"{% endif %}>Pokémon Mansion 3F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/pokémon-mansion-b1f/" {% if page.url == "/walkthrough/pokémon-mansion-b1f/" %}class="active"{% endif %}>Pokémon Mansion B1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-1f/" {% if page.url == "/walkthrough/silph-co-1f/" %}class="active"{% endif %}>Silph Co. 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-2f/" {% if page.url == "/walkthrough/silph-co-2f/" %}class="active"{% endif %}>Silph Co. 2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-3f/" {% if page.url == "/walkthrough/silph-co-3f/" %}class="active"{% endif %}>Silph Co. 3F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-4f/" {% if page.url == "/walkthrough/silph-co-4f/" %}class="active"{% endif %}>Silph Co. 4F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-5f/" {% if page.url == "/walkthrough/silph-co-5f/" %}class="active"{% endif %}>Silph Co. 5F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-6f/" {% if page.url == "/walkthrough/silph-co-6f/" %}class="active"{% endif %}>Silph Co. 6F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-7f/" {% if page.url == "/walkthrough/silph-co-7f/" %}class="active"{% endif %}>Silph Co. 7F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-8f/" {% if page.url == "/walkthrough/silph-co-8f/" %}class="active"{% endif %}>Silph Co. 8F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-9f/" {% if page.url == "/walkthrough/silph-co-9f/" %}class="active"{% endif %}>Silph Co. 9F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-10f/" {% if page.url == "/walkthrough/silph-co-10f/" %}class="active"{% endif %}>Silph Co. 10F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/silph-co-11f/" {% if page.url == "/walkthrough/silph-co-11f/" %}class="active"{% endif %}>Silph Co. 11F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/victory-road-1f/" {% if page.url == "/walkthrough/victory-road-1f/" %}class="active"{% endif %}>Victory Road 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/victory-road-2f/" {% if page.url == "/walkthrough/victory-road-2f/" %}class="active"{% endif %}>Victory Road 2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/victory-road-3f/" {% if page.url == "/walkthrough/victory-road-3f/" %}class="active"{% endif %}>Victory Road 3F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/seafoam-islands-1f/" {% if page.url == "/walkthrough/seafoam-islands-1f/" %}class="active"{% endif %}>Seafoam Islands 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/seafoam-islands-b1f/" {% if page.url == "/walkthrough/seafoam-islands-b1f/" %}class="active"{% endif %}>Seafoam Islands B1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/seafoam-islands-b2f/" {% if page.url == "/walkthrough/seafoam-islands-b2f/" %}class="active"{% endif %}>Seafoam Islands B2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/seafoam-islands-b3f/" {% if page.url == "/walkthrough/seafoam-islands-b3f/" %}class="active"{% endif %}>Seafoam Islands B3F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/seafoam-islands-b4f/" {% if page.url == "/walkthrough/seafoam-islands-b4f/" %}class="active"{% endif %}>Seafoam Islands B4F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/power-plant/" {% if page.url == "/walkthrough/power-plant/" %}class="active"{% endif %}>Power Plant</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/cerulean-cave-1f/" {% if page.url == "/walkthrough/cerulean-cave-1f/" %}class="active"{% endif %}>Cerulean Cave 1F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/cerulean-cave-2f/" {% if page.url == "/walkthrough/cerulean-cave-2f/" %}class="active"{% endif %}>Cerulean Cave 2F</a></li>
<li><a href="{{ site.baseurl }}/walkthrough/cerulean-cave-b1f/" {% if page.url == "/walkthrough/cerulean-cave-b1f/" %}class="active"{% endif %}>Cerulean Cave B1F</a></li>
</ul>
</div>
